<h1 class="title">GUESTS</h1>
<div class="guest-form">
  <label>Name</label>
  <mat-form-field class="Name">
    <input matInput>
  </mat-form-field>

  <label>Email</label>
  <mat-form-field class="Email">
    <input matInput>
  </mat-form-field>

  <label>Gender</label>
  <mat-form-field class="Gender">
    <input matInput>
  </mat-form-field>

  <label>Nationality</label>
  <mat-form-field class="Nationality">
    <input matInput>
  </mat-form-field>

  <label>Phone Number</label>
  <mat-form-field class="Phone">
    <input matInput>
  </mat-form-field>

    <label class="address">Address</label>
    <mat-form-field class="Phone">
      <input matInput>
    </mat-form-field>

</div>

<div class="guest-form">
  <label>Name</label>
  <mat-form-field class="Name">
    <input matInput>
  </mat-form-field>

  <label>Email</label>
  <mat-form-field class="Email">
    <input matInput>
  </mat-form-field>

  <label>Gender</label>
  <mat-form-field class="Gender">
    <input matInput>
  </mat-form-field>

  <label>Nationality</label>
  <mat-form-field class="Nationality">
    <input matInput>
  </mat-form-field>

  <label>Phone Number</label>
  <mat-form-field class="Phone">
    <input matInput>
  </mat-form-field>

  <label class="address">Address</label>
    <mat-form-field class="Phone">
      <input matInput>
    </mat-form-field>

</div>
