
div.panel-button{
border: 1px solid black;
margin-right: 150px;
    float: right;
    width: 200px;
}
button.back{
    width: 10%;
    height: 35px;
    margin-right: 50px;
margin-top: 430px;
    float: right;

}

button.continue{
    width: 10%;
    height: 35px;
    margin-right: 100px;
    margin-top: 430px;
    float: right;

}