
div.total-panel{
    padding-top: 0px;
    border-bottom: 2px solid black;
}

div.total2{
    font-weight: 550;
    float: right;
    margin-left: 250px;
}

div.total1{
    font-weight: 400;
    float: left;
}
