<mat-card class="panel">
    <div class="order-panel">
        <table>
            <colgroup>
              <col span="5">
              <col>
            </colgroup>
    
            <div class="row1">
              <td class="room_unit">Room Unit</td>
            </div>
    
            <div class="row2">
              <div class="unit_price">UNIT 201 (2,250)</div>
              <div class="unit_range">10/10/2019-10/10/2019</div>
            </div>
          </table>
    </div>    

    <div class="order-panel">
        <table>
            <colgroup>
              <col span="5">
              <col>
            </colgroup>
    
            <div class="row1">
              <td class="room_unit">Room Unit</td>
            </div>
    
            <div class="row2">
              <div class="unit_price">UNIT 201 (2,250)</div>
              <div class="unit_range">10/10/2019-10/10/2019</div>
            </div>
          </table>
    </div>    
    
    <total-panel></total-panel>
</mat-card>