<div class="service-card">
    <ul class="list-group">

          <div class="service-container">

            <div class="room_directory">
                <mat-checkbox class="left">
                </mat-checkbox>
                <h1 class="unit-name">SERVICE 201</h1>

                <mat-list-item role="list">
                    <ul class="list-inline">
                        <li class="list-inline-item">Airport Hotel Courtesy</li>
                        <li class="list-inline-item">Bakery/Patisserie</li>
                        <li class="list-inline-item">Barbeque</li>
                        <li class="list-inline-item">Facilities</li>
                    </ul>
                    <mat-list-item role="listitem">
                        <ul class="list-inline">
                            <li class="list-inline-item">Beach</li>
                            <li class="list-inline-item">Beauty Parlor</li>
                            <li class="list-inline-item">Trail</li>
                        </ul>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <ul class="list-inline">
                            <li class="list-inline-item">Business Center</li>
                            <li class="list-inline-item">Child Care Services</li>
                            <li class="list-inline-item">Children Playground</li>
                        </ul>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <ul class="list-inline">
                            <li class="list-inline-item">Concierge</li>
                        </ul>
                    </mat-list-item>  
                  </mat-list-item>
                </div>

          </div>
          </ul>
</div>
