<div class="header">
<h1>SUMMARY</h1>
<button routerLink="/payment-method"mat-raised-button class="pay-now">PAY NOW</button>
</div>

<mat-card class="list-group-room">
    <div class="room-panel">
        <table>
            <div class="row1">
              <th class="room-unit">ROOM UNIT</th>
              <tr>UNIT 201</tr>
              <tr>UNIT 201</tr>
            </div>
           
      
            <div class="row2">
              <th class="date">CHECK IN/OUT DATE</th>
              <tr>10/10.2019 - 10/10/2019</tr>
              <tr>10/10.2019 - 10/10/2019</tr>
            </div>

            <div class="row3">
                <th class="price">PRICE</th>
                <tr>P 2,250</tr>
                <tr>P 2,250</tr>
              </div>
          </table>
      </div>

      <div id="total">
        <th class="total">P 2,250</th>
        <th class="total">TOTAL: </th>
      </div>
</mat-card>

<mat-card class="list-group-services">
    <div class="room-panel">
        <table>
            <div class="row1">
              <th class="room-unit">SERVICES</th>
              <tr>SERVICES 201</tr>
              <tr>SERVICES 202</tr>
            </div>
           
      
            <div class="row2">
              <th class="date">DESCRIPTION</th>
              <tr>Leaving The Treetops Vsible Above The Waterline</tr>
              <tr>Leaving The Treetops Vsible Above The Waterline</tr>
            </div>

            <div class="row3">
                <th class="price">PRICE</th>
                <tr>P 2,250</tr>
                <tr>P 2,250</tr>
              </div>
          </table>
      </div>

      <div id="total">
        <th class="total">P 2,250</th>
        <th class="total">TOTAL: </th>
      </div>
</mat-card>

<mat-card class="list-group-guest">
    <div class="guest-panel">
        <table>
            <div class="guest-row-1">
              <th class="guest-info">GUESTS INFORMATION</th>
              <tr>Person #1</tr>
              <tr>Person #2</tr>
              <tr>Person #3</tr>
        </div>
</table>

<button  mat-button matStepperPrevious mat-button class="back">BACK</button>

<div id="final-total">
    <th class="total">P 10,500</th>
    <th class="total">TOTAL: </th>
  </div>