<mat-card>
    <div class="icons">
        <img src='assets/icon/mastercard.png' id="mastercard">
        <img src='assets/icon/paypal.png' id="paypal">
        <img src='assets/icon/visa.png' id="visa">
    </div>
    <img src='assets/icon/check-icon.png' id="check-icon">
    <h1 id="payment-successful">PAYMENT SUCCESSFUL</h1>
    <p id="successful-message">Your payment was successful! You can now continue using our website</p>
    <button [routerLink]="['']" mat-raised-button class="back">Go To Homepage</button>
    </mat-card>