<h1 class="title">SERVICES</h1>
<div class="service-container">
    <div class="scrollbar scrollbar-primary">
        <div class="force-overflow">
            <app-search></app-search>

            <div class="service-card">
                <div class="squareleft"></div>
                <unit-service-card>
            </unit-service-card>
            </div>
            
                    <div class="service-card">
                        <div class="squareleft"></div>
                        <unit-service-card>
                            </unit-service-card>
                            </div>
                            <div class="service-card">
                                <div class="squareleft"></div>
                                <unit-service-card>
                                    </unit-service-card>
                                    </div>
</div>
    </div>
</div>

