<div class="boxing">
    <div class="checkbox">
        <mat-checkbox class="left">
        </mat-checkbox>
        <p class="room_label">ROOM 201</p>
    </div>
    
    <div class="checkbox">
        <mat-checkbox class="left">
        </mat-checkbox>
        <p class="room_label">ROOM 202</p>
    </div>
    
    <div class="checkbox">
        <mat-checkbox class="left">
        </mat-checkbox>
        <p class="room_label">ROOM 203</p>
    </div>
    
        <div class="checkbox">
            <mat-checkbox class="left">
            </mat-checkbox>
            <p class="room_label">ROOM 204</p>
        </div>
        </div>