<mat-card class="service-card" id="memberships" routerLink="/">
    <div class="square"></div>
        <h2 class="service">MEMBERSHIPS</h2>
            <p class="context">You can enjoy all benefits of Mazaya with unlimited services for one year starting
                from the date of subscription.
        </p>
</mat-card>

<mat-card class="service-card" id="transports" routerLink="/">
    <div class="square"></div>
        <h2 class="service">TRANSPORTS</h2>
            <p class="context">Delivering your luggage from or to King Khalid International Airport, to have an amazing
                and comfortable traveling experience.
        </p>
</mat-card>

 
<mat-card class="service-card" id="accomodations" routerLink="/">
    <div class="square"></div>
        <h2 class="service">ACCOMODATIONS</h2>
            <p class="context">Offers you a wide range of premium services, that are especially designed to make your travels
                through King Khalid International Airport more luxurious.
        </p>
</mat-card>

