<h1 class="title">UNIT/ROOM INFORMATION</h1>
<ul class="list-group">
    <li class="list-group-item" id="first_unit">
        <div class="squareleft"></div>
      <div class="container">
        <label class="unit-name">Unit 201</label>
        <app-unit-directory class="row"></app-unit-directory>
        <app-unit-directory class="row"></app-unit-directory>
      </div>
        <div class="container_one"></div>
        <div class="container_two"></div>

     <li class="list-group-item" id="second_unit">
        <div class="squareleft"></div>
      <div class="container">
        <label class="unit-name">Unit 201</label>
        <app-unit-directory class="row"></app-unit-directory>
        <app-unit-directory class="row"></app-unit-directory>
      </div>
        <div class="container_one"></div>
        <div class="container_two"></div>
  </ul>